%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

%title-configuration {
    width: 100%;
    text-align: center;;
}

.ikc {
    &__content {
        &-projects {
            margin: 30px 0;
            width: 100%;
            @extend %flex-center;

            h2 {
                @extend %title-configuration;
            }

            span {
                @extend %title-configuration;
                margin-bottom: 20px;
            }

            &-button {
                margin-bottom: 20px;
            }
        }
    }
}